* {
  box-sizing: border-box;
}

header {
  background: rgb(98, 93, 201);

  background-color: rgb(167, 152, 134);
}

nav {
  height: 60px;
  display: auto;
  align-items: center;
  justify-content: center;
}

header ul {
  width: 960px;
  margin: auto;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content:  flex-start;


}

header ul li {
  width: 20%;
  
}

header ul li a {
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

}


main {
  display: auto;
  width: 960px;
  margin: 30px auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

main img {
  margin-bottom: 30px;
}

article {
  width: 300px;
  height: 375px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
}

article section {
  font-family: 'Josefin Sans', 'Poppins', 'Georgia', 'Times', 'Times New Roman', sans-serif;
  width: 300px;
  height: 375px;
  overflow: auto;
  margin-bottom: 6px;
}

article h2 {
  font-family:  Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
}

#call {
  background-color: rgb(141, 141, 177);
  color: white;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 10px;

}

#call:hover {
  transition-duration: 350ms;
  background-color: rgb(177, 105, 105);
  color: white;
}

footer {
  height: 120px;
  background-color: rgb(159, 181, 94);
}